<% $.each( rules, function( i, rule ) { %>
  <fieldset>
    <legend>
      <input class="siteEnabled" type="checkbox" placeholder="Enabled" <% if(rule.attr('enabled')) { %> checked="checked"<% } %> />
      <div class="input-prepend">
        <span class="add-on"><i class="icon-globe"></i></span>
        <input class="domainURL span6" type="text" placeholder="domain URL (e.g http://mydomain.com/)" value="<%= rule.attr('domainURL') %>" />
      </div>
      <a class="btn btn-add"><i class="icon-plus-sign"></i></a>
    </legend>
    
    <ul class="list-resources">
      <% if(rule.resources) { %>
        <%== can.view.render('//../views/rule-resources.ejs', {'resources': rule.resources}) %>
      <% } %>
    </ul>
    <div class="clear"></div>
  </fieldset>
  
<% }); %>